@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #abc4ff;
}
.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .card {
  position: relative;
  width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    -5px -5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 30px;
}

.container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #c1d3fe;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.container .card:hover .box {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #a0c4ff, #9381ff);
}
.container .card .box .content {
  padding: 20px;
  text-align: center;
}

.container .card .box .content h2 {
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 2em;
  color: tomato;
  transition: 0.5s;
}

.container .card:hover .box .content h2 {
  color: #e8bbbb;
}

.container .card .box .content h3 {
  position: absolute;
  bottom: 30px;
  left: 25px;
  font-size: 1.2em;
  color: tomato;
  font-weight: bold;
  z-index: 1;
  transition: 0.5s;
}

.container .card:hover .box .content h3 {
  color: #e8bbbb;
}

h1 {
  color: #012901;
  font-size: 4rem;
  z-index: 9999;
}
