*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-nemo: #ff4a11;
  --color-foam: white;
  --border-radius: border-radius: 4px;
}
body {
  margin: 0;
  font-family: system-ui;
  line-height: 1.2;
}
